<div class= "col-lg-10 x-auto">
  <h1 class="text-center">About Us</h1>
    <p class="text-center">We are a team of developers who are passionate about building web applications. We are always looking for new challenges and opportunities to learn new technologies.</p>
</div>
<%= render 'shared/links'%>